
:root{
    --max-width: 1400px;

    --gap-h: 15px;
    --gap-v: 20px;
    --gap: 10px;

    --bg-1: 0,168,132;
    --bg-2: 226, 225, 222;
    --bg-3: 239, 234, 226;

    --white: 248, 248, 248;
    --black: 17, 27, 33;
    --gray: 134, 150, 160;
    --green: 37, 211, 102;
    --blue: 84, 101, 111;

    --greenMessage: 217, 253, 211;
}

$mq-desktop: 1400px;
$mq-mobile: 700px;
