.canvas{
    // @include flex(flex, center, center, row, nowrap); 
    display: grid;
    grid-template-columns: minmax(250px, 30%) 1fr;
    width: 100%;
    height: 100%;
    max-width: var(--max-width);
    margin: 0 auto;

    background-color: rgba(var(--white), 1);
    
    @media (max-width: $mq-mobile) {
        grid-template-columns: 1fr;
        overflow: hidden;
    }
}

.modal{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: rgba(var(--white), .35);
    backdrop-filter: blur(4px);
    
    &__inner{
        position: relative;
        display: grid;
        grid-template-columns: 1fr;
        gap: 10px;
        width: 100%;
        max-width: 400px;
        background-color: rgba(var(--white), 1);

        @media (max-width: $mq-mobile) {
            padding: 0 var(--gap);
        }
    }
}

.account{
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    box-shadow: 0 0 20px 2px rgba( var(--black), .05);
}

.user{
    @media (max-width: $mq-mobile) {
        position: absolute;
        top: 0;
        left: -100%;
        z-index: 20;
        transition: 100ms;
        background-color: rgba( var(--white), 1);
        width: 100%;
    }
}
.conversation{
    display: grid;
}

.message-form{
    display: grid;
    grid-template-columns: auto auto 1fr auto;
    align-items: center;
    padding: calc(var(--gap) * .75) var(--gap-h);

    &__input{
        height: 20px;
        resize: none;
        color: black;
        font-size: 1rem;
    } 
}
.pc{
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-content: center;
    position: absolute;
    top: 0;
    left: 0;

    position: absolute;
    gap: var(--gap-v);
    width: 100%;
    height: 100%;
    background-color: rgba( var(--white), 1);

    &__title{
        font-size: 1.5rem;
        color: rgba(var(--gray), 1);
        font-weight: 100;
    }

    @media (max-width: $mq-mobile) {
        svg{ max-width: 70%; }
    }
}
